@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-content">
        <article class="content px-4">
            @Body
        </article>

        <footer class="footer px-4 py-3">
            <div>
                <strong>Autor:</strong> Leonardo Lima
            </div>
            <div>
                <strong>Repositório:</strong>
                <a href="https://github.com/llssoftwares/goodhamburger" target="_blank">
                    github.com/llssoftwares/goodhamburger
                </a>
            </div>
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>